<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.dao.CourseDao">

<!-- 添加三级课程 -->
<insert id="addCourse" parameterType="Course">

insert into tb_course(user_id,course_name,course_desc,course_img,course_teacher,course_type,second_id) values(#{user_id},#{course_name},#{course_desc},#{course_img},#{course_teacher},#{course_type},#{second_id})

</insert>

<select id="selectCourse" resultType="Course">

select  * from  tb_course;
</select>


<select id="selectThirdbyText" resultType="Course" parameterType="Course">

select  * from  tb_course where 1=1
<choose>
<when test="course_name!=null">
and course_name like '%${course_name}%'
</when>
</choose>
</select>
</mapper>