<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.dao.CourseDao">

<!-- 添加三级课程 -->
<insert id="addCourse" parameterType="Course">
insert into tb_course(user_id,course_name,course_desc,course_img,course_teacher,course_type,second_id) values(#{user_id},#{course_name},#{course_desc},#{course_img},#{course_teacher},#{course_type},#{second_id})
</insert>

<!-- 查询所有三级课程 -->
<select id="selectCourse" resultType="Course">
select  * from  tb_course;
</select>

<!-- 通过输入的课程名称查询 -->
<select id="selectThirdbyText" resultType="Course" parameterType="Course">
select  * from  tb_course where 1=1
<choose>
<when test="course_name!=null">
and course_name like '%${course_name}%'
</when>
</choose>
</select>

<!-- 通过管理员的id查询三级课程 -->
<select id="selectMyCourse" parameterType="User" resultType="Course">
select * from tb_course where user_id = #{user_id}
</select>

<!-- 通过三级课程的二级id查询到二级课程 -->
<select id="selectMySecond" parameterType="List" resultType="Second">
    SELECT distinct * FROM tb_second WHERE second_id IN
    <foreach collection="course" index="index" item="item" open="(" separator="," close=")">
        #{item}
    </foreach>
</select>


<!-- 通过二级课程的一级id查询到一级课程 -->
<select id="selectMyFirst" parameterType="List" resultType="First">
    SELECT distinct * FROM tb_first WHERE first_id IN
    <foreach collection="second" index="index" item="item" open="(" separator="," close=")">
        #{item}
    </foreach>
</select>
</mapper>